# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.log

# Visual Studio
*.vcxproj*
*.sln

# macOS
.DS_Store

# Editor
*~
*.swp

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# Doxygen generated documentation
docs/doxygen/*
!docs/doxygen/.gitkeep
